In [8]:
# your name here :)
print("Woop Woop Woop :)")

Woop Woop Woop :)

# Quiz Python - SQL - Data analysis

## Setup & Git

### ü§î What is a virtualenv and why is it useful?

Your answer here:

It is a tool used to create isolated Python virtual environments. 

Within each virtualenv, we can safely install packages we need for a particular project without interfering with other virtual environments.

For example: we can install `pandas==0.25.3` for project A and `pandas==1.0.3` for Project B.

### ü§î  How do you install a new python package? How can you later use it in your code?

Your answer here:

```python
pip install <package_name>

# file.py
import package_name
```

### ü§î What are the `git` commands used to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

`git status` - check for untracked changes in your working directory

`git add <changed_file_1> <changed_file_2>` - add files to current status

`git commit -m "Finished with first challenge"` - commit with a meaningful message

`git push origin master` - push the files to my GitHub repository

### ü§î  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

`cd ..` - parent directory

`cd` - home directory

## Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [9]:
numbers = [-2, "2", 7, '-3']
# your code below
numbers_count = len(numbers)
numbers_count

4

In [10]:
# your code below
numbers.append(5)
numbers

[-2, '2', 7, '-3', 5]

In [11]:
del numbers[2]
# other ways
# numbers.pop(2)
# numbers.remove(7)
numbers

[-2, '2', '-3', 5]

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [12]:
# your code below
positive_numbers = []
for number in numbers:
    if int(number) > 0:
        positive_numbers.append(int(number))
positive_numbers

[2, 5]

In [13]:
# list comprehension way
positive_numbers = [int(number) for number in numbers if int(number) > 0]
positive_numbers

[2, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [14]:
# your code here
def sum_of_positive(numbers):
    positive_numbers = []
    for number in numbers:
        if int(number) > 0:
            positive_numbers.append(int(number))
    return sum(positive_numbers)

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [15]:
# function call
positive_sum = sum_of_positive(numbers)

In [16]:
# the cell should output True
positive_sum == 7

True

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [17]:
# your code here
import requests

url = 'https://opengraph.lewagon.com/?url=https://www.lewagon.com'
data = requests.get(url).json()
data

{'data': {'site_name': "Coding Bootcamp Le Wagon | Europe's Best Coding Bootcamp",
  'title': 'Coding Bootcamp | Le Wagon',
  'type': 'article',
  'url': 'https://www.lewagon.com/',
  'image': 'https://dwj199mwkel52.cloudfront.net/assets/core/social/homepage-card-6d131ddfe8b9705923811891f631cd6022b771df2f135244b182eef598e40296.jpg',
  'description': "Change your life, learn to code. Le Wagon is ranked as the world's best coding bootcamp and has enabled thousands of people to change their careers."},
 'url': 'https://www.lewagon.com/'}

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [18]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [19]:
# your code here
lc_uppercase_fruits = [fruit.upper() for fruit in fruits if fruit[0] < 'n']

In [20]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

True

## SQL

### ü§î What software can you use to perform some SQL queries?

Your answer here:

You can use a database client like such as `DB Beaver`.

### ü§î How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

```SQL
SELECT column_1, column_2
FROM table
WHERE condition
ORDER BY column_1 DESC
```

### ü§î What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

Your answer here:

**Inner join** returns rows when there is a match between both tables.

**Left join** returns all the rows from left table even if there are no matches in the right table.

## Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check the following numbers:

* the dimension of this array
* its shape
* the number of  elements it has.

In [21]:
# your code here
import numpy as np

A = np.array([[1,2,3], [4,5,6]]) 
A

array([[1, 2, 3],
       [4, 5, 6]])

You can see that A 
* has 2 rows and 3 columns (that's its shape) accessible through `.shape`
* it is a 2D-array `.ndim`
* with 2 x 3 = 6 elements `.size`

In [22]:
A.shape

(2, 3)

In [23]:
A.ndim

2

In [24]:
A.size

6

Notice that `A.size` is equivalent to `np.product(A.shape)`

In [25]:
np.product(A.shape)

6

### Using the same array `A`  check for the `max` elements in its rows.

In [26]:
A

array([[1, 2, 3],
       [4, 5, 6]])

If you want to get the maximum value for each row :

In [27]:
A.max(axis=1)

array([3, 6])

If you want to get the maximum value for each column:

In [28]:
A.max(axis=0)

array([4, 5, 6])

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [29]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
B

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [30]:
# your code here
# : means everything so here i want to select all the rows
# and the third column which corresponds to column two in python

selection = B[:, 2]
selection

array([ 3,  8, 13, 18])

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [34]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

my_list

[[6, 5], [1, 3], [5, 6], [1, 4], [3, 7], [5, 8], [3, 5], [8, 4]]

In [35]:
# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [36]:
type(my_list)

list

In [37]:
# your code here, using `my_list` from previous cell
my_numpy_array = np.array(my_list)
my_numpy_array

array([[6, 5],
       [1, 3],
       [5, 6],
       [1, 4],
       [3, 7],
       [5, 8],
       [3, 5],
       [8, 4]])

In [39]:
vectorial_sum = my_numpy_array[:, 0] + my_numpy_array[:, 1]
vectorial_sum

array([11,  4, 11,  5, 10, 13,  8, 12])

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [40]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [41]:
# your answer & code here
type(tips)

pandas.core.frame.DataFrame

In [42]:
tips.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
tips.shape

(244, 7)

In [44]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [45]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

###  How do you select the `total_bill` column? üí≤üí≤üí≤

In [46]:
# your code here
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [49]:
# boolean indexing
# if the time is equal to Dinner, it returns True otherwise False
# here  is a sample of size 20
(tips['time'] == "Dinner").sample(20)

192    False
4       True
238     True
205    False
35      True
226    False
225    False
181     True
67      True
3       True
47      True
15      True
164     True
87     False
74      True
243     True
133    False
229     True
107     True
23      True
Name: time, dtype: bool

In [51]:
# your code here
# you can use this Boolean Mask to filter the tips dataset, showing only the rows with "Dinner"

dinner_tips = tips[tips['time'] == "Dinner"]
dinner_tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

In [52]:
dinner_tips.shape[0]

176

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

If the two `df` share the same name for the `merging key` :

```python
a_df.join(b_df, on = "merging_key", how = "left")
```

If the two `df` have different names for the `merging key` :

```python
a_df.join(b_df, left_on = "merging_key_left", right_on = "merging_key_right",how = "left")
```

üëâ <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html">pandas.DataFrame.join</a>

## Submit your quiz in 2 steps:

### Convert your notebook as a HTML file with `nbconvert` by running the cell below:

In [ ]:
%%bash
jupyter nbconvert --to html datatoolkit_quiz.ipynb

###  ‚òÅÔ∏èAlmost done! Last step is to go back to Kitt and follow the last instructions to submit your quiz.