In [ ]:
# your name here :)

# Quiz Python - SQL - Data analysis

## Setup & Git

### ðŸ¤” What is a virtualenv and why is it useful?

Your answer here:

It is a tool to create isolated Python virtual environments. Within each virtualenv we can safely install packages we need for a particular project without interfering with other virtual environments.

For example: we can install `pandas==0.25.3` for project A and `pandas==1.0.3` for Project B.

### ðŸ¤”  How do you install a new python package? How can you later use it in your code?

Your answer here:

In [ ]:
pip install <package_name>

# file.py
import package_name

### ðŸ¤” What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

`git status` - check for untracked changes in your working directory

`git add <changed_file_1> <changed_file_2>` - add files to current status

`git commit -m "Finished with first challenge"` - commit with a meaningful message

`git push origin master` - push the files to my GitHub repository

### ðŸ¤”  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

`cd ..` - parent directory

`cd` - home directory

## Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [8]:
numbers = [-2, "2", 7, '-3']
# your code below
numbers_count = len(numbers)
numbers_count

4

In [9]:
numbers.append(5)
numbers

[-2, '2', 7, '-3', 5]

In [10]:
del numbers[2]
# other ways
# numbers.pop(2)
# numbers.remove(7)
numbers

[-2, '2', '-3', 5]

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [11]:
# your code below
positive_numbers = []
for number in numbers:
    if int(number) > 0:
        positive_numbers.append(int(number))
positive_numbers

[2, 5]

In [41]:
# list comprehension way
positive_numbers = [int(number) for number in numbers if int(number) > 0]
positive_numbers

[2, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [24]:
# your code here
def sum_of_positive(numbers):
    positive_numbers = []
    for number in numbers:
        if int(number) > 0:
            positive_numbers.append(int(number))
    return sum(positive_numbers)

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [27]:
# function call
positive_sum = sum_of_positive(numbers)

In [28]:
# the cell should output True
positive_sum == 7

True

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

We need it to perform HTTP requests, first we have to import the library and then call a `get` method to send a GET request to the chosen API.

In [30]:
# your code here
import requests

url = 'https://opengraph.lewagon.com/?url=https://www.lewagon.com'
data = requests.get(url).json()
data

{'data': {'site_name': "Coding Bootcamp Le Wagon | Europe's Best Coding Bootcamp",
  'title': 'Coding Bootcamp | Le Wagon',
  'type': 'article',
  'url': 'https://www.lewagon.com/',
  'image': 'https://dwj199mwkel52.cloudfront.net/assets/core/social/home-card-3e7145382a75fc070f78c67bccd21e2fb74e4f92958c6dfdeb7a776acd499a0e.jpg',
  'description': "Change your life, learn to code. Le Wagon is ranked as the world's best coding bootcamp and has enabled thousands of people to change their careers."},
 'url': 'https://www.lewagon.com/'}

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [33]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [37]:
# your code here
lc_uppercase_fruits = [fruit.upper() for fruit in fruits if fruit[0] < 'n']

In [38]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

True

## SQL

### ðŸ¤” What software can you use to perform some SQL queries?

Your answer here:

You can use a database client like for example DB Beaver.

### ðŸ¤” How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

SELECT column_1, column_2
FROM table
WHERE condition
ORDER BY column_1 DESC

### ðŸ¤” What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

**Inner join** returns rows when there is a match between both tables.

**Left join** returns all the rows from left table even if there are no matches in the right table.

## Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [49]:
# your code here
import numpy as np

A = np.array([[1,2,3], [4,5,6]]) 
A.ndim

2

### Using the same array `A`  check for the `max` elements in its rows.

In [51]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [52]:
A.max(axis=1)

array([3, 6])

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [53]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
B

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [54]:
selection = B[:, 2]
selection

array([ 3,  8, 13, 18])

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [55]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [57]:
# your code here, using `my_list` from previous cell
numpy_array = np.array(my_list)
vectorial_sum = numpy_array[:, 0] + numpy_array[:, 1]
vectorial_sum

array([11,  4, 11,  5, 10, 13,  8, 12])

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [59]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [60]:
# your answer & code here
type(tips)

pandas.core.frame.DataFrame

In [61]:
tips.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
tips.shape

(244, 7)

In [64]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [66]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

###  How do you select the `total_bill` column? ðŸ’²ðŸ’²ðŸ’²

In [67]:
# your code here
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [69]:
# your code here
dinner_tips = tips[tips['time'] == "Dinner"]
dinner_tips.shape[0]

176

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

In [ ]:
# your code here
a_df.join(b_df)